# Virtual environments
.venv/
venv/

# Python cache/bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg

# Unit test / coverage reports
.pytest_cache/
.coverage
.coverage.*
coverage.xml
.tox/

# Type checker / linters
.mypy_cache/
.ruff_cache/
.pyright/

# Jupyter
.ipynb_checkpoints/

# Editors/IDE
.vscode/
.idea/

# OS
.DS_Store


